services:
  test:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: test
      MYSQL_USER: docker
      MYSQL_PASSWORD: docker
      TZ: Asia/Tokyo
      MYSQL_ROOT_HOST: '%'
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    volumes:
      - ./init_db:/docker-entrypoint-initdb.d:ro
      - ./conf/my.cnf:/etc/mysql/conf.d/my.cnf:ro
      - data:/var/lib/mysql
    ports:
      - "3306:3306"
    security_opt:
      - seccomp:unconfined
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  data:
